* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow: hidden;
}
.face-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  background: #222;
  overflow: hidden;
  gap: 4px;
}

:root {
  --clr1: #ff0087;
  --clr2: #01ff5f;
}

label {
  position: relative;
  width: 150px;
  height: 150px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label .face {
  position: absolute;
  background: #333;
  border-radius: 50%;
  inset: 0;
  cursor: pointer;
  mix-blend-mode: lighten;
  transition: 0.5s;
}
label input:checked ~ .face {
  background: var(--clr1);
  z-index: 1000;
  filter: drop-shadow(0 0 100px var(--clr1));
}
label:nth-child(even) input:checked ~ .face {
  background: var(--clr2);
  z-index: 1000;
  filter: drop-shadow(0 0 100% var(--clr2));
}
label .face::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 60px;
  left: 45px;
  opacity: 0.5;
  background: #111;
  border-radius: 50%;
  box-shadow: 45px 0 0 #111;
}

label .face::after {
  content: "";
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 8px;
  opacity: 0.5;
  background: #111;
  border-radius: 8px;
}

label input:checked ~ .face:after {
  width: 40px;
  height: 20px;
  bottom: 35px;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
label:nth-child(even) input:checked ~ .face:after {
  width: 40px;
  height: 20px;
  bottom: 35px;
  border-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
